// CORES
$cor-neutra: #fff;
$cor-logo:#27a653;
$cor-logo-escura:#188a40;
$cor-descricao: #383838;
$danger: #ea6153;
// TAMANHO DAS FONTES
$titulos-destaque:3.23em;
$titulos:2.856em;
$sub-titulos:2.429em;
$texto:1.450em;
$texto-principal:1.309em;
$texto-corpo:1.05em;
$texto-secundario:.714em;

$titulo-servicos:2.42em;


// RESET
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
p,h1,h2,h3,h4,h5,h6 {margin:0;}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;

	p,h2 {
		font-size:$texto-principal;
		font-weight: 300;
	}

	h2 {
		line-height: 1.33em;
	}

	h1, h3 {
		color:#fff;
		font-size: $titulos;
		line-height:1.35em;
	}


}


// TOPO
.navbar-default {
	left:50%;
	margin:15px 0 0 -600px;
	width:1200px;
	position:absolute;
	z-index: 30;
	border:0;
	background:transparent;
}
.navbar-brand {
	padding:15px 0;
}
.navbar-brand>img {
	width:210px;
	height:64px;
}

.navbar-right {
	.no-padding {
		padding-right:0;
	}
}

.navbar-nav {
	margin:19px -15px 0 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
	color:$cor-neutra;
	font-weight: 500;
	transition: .2s linear;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
	color:$cor-logo-escura;
	transition: .2s linear;
}

.navbar-default .navbar-nav>li>a:after,
.navbar-default .navbar-nav>li>a.active:after {
	content: " ";
	margin:9.5px 0 0 0;
	width:0px;
	height:1px;
	background:$cor-logo-escura;
	position: absolute;
	z-index: 9999;
	left:0;
	transition: .2s linear;
}

.navbar-default .navbar-nav>li>a.active:after {
	width:100%;
}

.navbar-default .navbar-nav > li > a:hover:after {
	width:100%;
	transition: .2s linear;
}

#banner {
	width:100%;
	height:558px;
	color:$cor-neutra;
	text-align: right;

	h1 {
		margin:17px 0 0 0;
	}

	h2 {
		margin:300px 15px 0 0;
	}

	.btn {
		width:auto;
		height:auto;
		padding:21.5px;
		border-radius:0;
		border:0;
		font-weight: 500;
	}
	.btn-success {
		margin:28px -30px 0 0;
		background:$cor-logo-escura;

		svg {
			margin:0 30px 0 0;
		}

		span {
			position: relative;
			top:-8.5px;
		}
	}
	.col-md-5 {
		margin-left:-15px;
	}
}

#banner.servicos {
	height:351px;

	a {
		margin:-38px -15px 0 0;
	}

	h1 {
		margin:200px 0 5px 0;
		font-size: $sub-titulos;
		text-align: left;
	}

	h2 {
		margin:0;
	}
}

#banner.servicos.pintura {
	a {
		margin:-115px -15px 0 0;
	}
} 

#banner.servicos.seguranca {
	a {
		margin:-112px -30px 0 0;
	}

	h1 {
		font-size:2.529em;
		width:428px;
		text-align: right;
	}

	h2 {
		text-align:left;
	}
} 

#banner.inicio {
	background:url(../img/bg-inicial.jpg)no-repeat center center;
}

#banner.eletrica {
	background:url(../img/bg-eletrica.jpg)no-repeat center center;

	.col-md-4 {
		padding-right:0;
	}
}

#banner.predial {
	h1 {
		text-align: right;
	}
	a {
		margin-right:-30px;
	}
	
	h1,h2 {
		width:379px;
	}

	background:url(../img/bg-manutencao.jpg)no-repeat center center;
}

#banner.pintura {
	h1 {
		width:386px;
		text-align:right;
	}

	background:url(../img/bg-pintura.jpg)no-repeat center center;
}

#banner.seguranca {
	background:url(../img/bg-seguranca.jpg)no-repeat center center;
}

#banner.atendimento {
	background:url(../img/bg-atendimento.jpg)no-repeat center center;
	h1 {
		width:648px;
		margin:0;
		text-align: right;
	}
	
	h2 {
		width:648px;
		margin:155px 0 10px 0;
	}

}
// inicio

#desc {
	.container {
		height:412px;
		background:url(../img/inicial.jpg)no-repeat center center;
	}
	.container.eletrica {
		background:url(../img/conteudo-eletrica.jpg)no-repeat center center;
		ul {
			background:#0f438e;
		}
	}
	.container.predial {
		background:url(../img/conteudo-manutencao.jpg)no-repeat center center;

		.col-md-8 {padding:0;}

		h3 {
			font-size: 2.6em;
			margin:34px 0 34px 45px;
		}

		ul {
			padding:46px;
			width:640px;
			text-align: center;
			margin-left:1px;
			background:#2d282d;

			li {
				font-size:1.2em;
			}

			li:nth-child(odd) {
				margin:10.5px 0;
			}

			li:first-child {margin-top:0;}
			li:last-child {margin-bottom:0;}
		}
	}
	.container.seguranca {
		background:url(../img/conteudo-seguranca.jpg)no-repeat center center;
		ul {
			background:#7d2300;
			margin-left:1px;

			li:first-child {
				font-weight: 500;
			}
		}
	}
	.container.pintura {
		background:url(../img/conteudo-pintura.jpg)no-repeat center center;

		h3 {
			margin:55px 0 24px 45px;
		}

		ul {
			background:#524781;
			min-height:263px;

			li:nth-child(odd) {
				margin:11.7px 0;
			}
			li:first-child {
				font-weight: 500;
				margin-top:0;
			}
			li:last-child {
				margin-bottom:0;
			}
		}
	}

	h3 {
	 	font-weight: 700;
	 	font-size: $titulos-destaque;
	 	margin:37px 0 26px 45px;
	}
	
	ul {
		margin:0;
		background:#f9e900;
		padding:43px 60px;
		opacity:.9;
	}

	ul li {
		list-style:none;
		font-size: $texto-principal;
		color:$cor-descricao;
	}

	li:nth-child(odd) {
		margin:12px 0;
	}

	.col-md-6 {
		padding:0;
	}
}
#desc.servicos {
	h3 {
		font-size: $titulo-servicos;
		margin:45px 0 34px 45px;
	}

	ul {
		background:#114797;
	}

	ul li {
		color:$cor-neutra;
	}
}

#desc.servicos ul{
	background:#3b3539;

	li {
		font-weight: 300;
		font-size: $texto-principal;
	}
}

#corpo {

	h5 {
		margin:70px 0 0px 0;
	}

	label.error,input.error,textarea.error {
		color:$danger;
		border-color:$danger;
	}
	textarea.error::-webkit-input-placeholder {color:$danger;}
	textarea.error:-moz-placeholder {color:$danger;}
	textarea.error::-moz-placeholder {color:$danger;}
	input.error::-webkit-input-placeholder {color:$danger;}
	input.error:-moz-placeholder {color:$danger;}
	input.error::-moz-placeholder {color:$danger;}

	input,
	select,
	textarea {
		margin:50px 0 0 0;
		border:0;
		padding:30px 0;
		color:$cor-descricao;
		border-bottom:2px solid $cor-descricao;
		font-size: $texto-corpo;
		font-weight: 300;
		width:100%;
		transition: padding .2s;
		text-transform: uppercase;
	}

	select {
		height: 82px;
		padding:0;    
		background:transparent;
		appearance:none;
    	-moz-appearance:none;
    	-webkit-appearance:none;
    	border-radius:0;
	}

	.select:before {
		content:" ";
		position: absolute;
		top:63px;
		right:15px;
		z-index: -1;
		width:55px;
		height:55px;
		background: $cor-logo-escura url(../img/arrow.svg) no-repeat center center;
		background-size: 12px 22px;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		transition: background-position .2s;
	}
	
	.select:hover:before {
		transition: background-position .2s;
		background-position:15px center;
	}

	input:focus,
	select:focus,
	textarea:focus {
		transition: padding .2s;
		padding:30px;
		outline:transparent;
	}

	input[type="submit"] {
		background:$cor-logo-escura;
		padding:20px 30px 20px 25px;
		color:$cor-neutra;
		font-weight: 500;
		text-align: left;
		border:0;
		border-radius:0;
	}

	.submit:before {
		content:" ";
		position: absolute;
		top:69px;
		right:44px;
		z-index: 9999;
		width:12px;
		height:22px;
		background: url(../img/arrow.svg) no-repeat center center;
		background-size: 12px 22px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		transition: right .2s;
	}

	.submit:hover:before {
		transition: right .2s;
		right:34px;
	}

	input[name="nome"],
	input[name="logradouro"],
	input[name="email"]{margin:0;}

	::-webkit-input-placeholder {font-size: $texto-corpo;color:$cor-descricao;}
	:-moz-placeholder {font-size: $texto-corpo;color:$cor-descricao;}
	::-moz-placeholder {font-size: $texto-corpo;color:$cor-descricao;}
}

footer {
	margin:50px 0 0 0;
	color:$cor-neutra;
	.topo {
		height:99px;
		background:$cor-logo url(../img/mapa.jpg) no-repeat left center;
		color:$cor-neutra;

		.col-sm-12 {
			margin-top:37px;
		}
		
		h4 {
			margin:0 0 0 39px;
			font-size: $texto;
			font-weight: 500;
		}

		p {
			margin:-3px 0 0 0;
			font-size: $texto;
		}
	}

	.corpo {
		width:100%;
		padding:25px 0;
		text-align:center;
		background:$cor-logo-escura;

		p {
			font-size:$texto-corpo;
		}

		span { 
			font-weight: 500;
		}
	}

	.direitos  {
		margin:50px 0 40px 0;
		text-align: center;
		color:$cor-descricao;
		font-size:$texto-secundario;
		p {
			font-weight: 500;
		}
	}
}

@media screen and (max-width: 768px) {

	#desc .container.predial ul {
		width:100%;
	}

	#banner.servicos.atendimento h1{
		margin:85px 0 0 0;
	}

	#banner.servicos.eletrica h1,
	#banner.servicos.predial h1 {
		margin:140px 0 0 0;
	}

	#banner.servicos h1,
	#banner.servicos.seguranca h1,
	#banner.servicos.seguranca h2 {
		text-align: center;
	}

	#banner.servicos a,#banner.servicos.atendimento h2 {
		display:none;
	}

	#banner.servicos h1 {
		margin:110px 0 0 0;
	}

	footer .topo {
		display:none;
	}

	#desc .container {

	}
	
	#banner .btn-success {
		margin:0 auto;
		display:block;
	}
	
	#banner .col-md-5 {
		margin:0;
	}

	#banner h2 {
		margin:145px 0 0 0;
	}

	#banner h1 {
		margin:17px 0;
	}

	#banner h2,#banner h1 {
		width:100% !important;
		text-align: center;
	}


	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}


	.navbar-default .navbar-nav > li:first-child {
		margin-top:50px;
	}

	.navbar-default .navbar-nav > li:last-child {
		padding-bottom:10px;
	}

	  /* line 544, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: $cor-neutra;
    margin: 0 auto 5px auto;
  }
	
	.navbar-default .navbar-nav > li > a.active {
		color:$cor-neutra;
		text-decoration: line-through;
	}
	
	.navbar-default .navbar-nav > li > a:after, .navbar-default .navbar-nav > li > a.active:after {
		background:transparent;
	}

  /* line 549, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-default {
  	width:100%;
    background: #188a40;
	left:inherit;
   }

  /* line 553, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-toggle {
    position: absolute;
    z-index: 9999;
    border: 0;
    margin-left:-28px;
  }
  /* line 558, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-toggle p {
    color: white;
  }

  /* line 563, ../../../Mep-Services/assets/scss/style.scss */
  .navbar {
    min-height: 0;
    margin: 0;
  }

  /* line 569, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-header,
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
    text-align: center;
  }

  /* line 574, ../../../Mep-Services/assets/scss/style.scss */
  .navbar-brand {
    display: none;
  }

}

@media screen and (max-width: 410px) { 
	#banner.servicos h1 {
		margin:90px 0 0 0;
	}
}


