@media (min-width: 1200px) {
  /* line 21, ../scss/style.scss */
  .container {
    width: 1200px;
  }
}
/* line 25, ../scss/style.scss */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 27, ../scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
/* line 32, ../scss/style.scss */
body p, body h2 {
  font-size: 1.309em;
  font-weight: 300;
}
/* line 37, ../scss/style.scss */
body h2 {
  line-height: 1.33em;
}
/* line 41, ../scss/style.scss */
body h1, body h3 {
  color: #fff;
  font-size: 2.856em;
  line-height: 1.35em;
}

/* line 52, ../scss/style.scss */
.navbar-default {
  left: 50%;
  margin: 15px 0 0 -600px;
  width: 1200px;
  position: absolute;
  z-index: 30;
  border: 0;
  background: transparent;
}

/* line 61, ../scss/style.scss */
.navbar-brand {
  padding: 15px 0;
}

/* line 64, ../scss/style.scss */
.navbar-brand > img {
  width: 210px;
  height: 64px;
}

/* line 70, ../scss/style.scss */
.navbar-right .no-padding {
  padding-right: 0;
}

/* line 75, ../scss/style.scss */
.navbar-nav {
  margin: 19px -15px 0 0;
}

/* line 80, ../scss/style.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  font-weight: 500;
  transition: .2s linear;
}

/* line 87, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active {
  color: #188a40;
  transition: .2s linear;
}

/* line 93, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:after,
.navbar-default .navbar-nav > li > a.active:after {
  content: " ";
  margin: 9.5px 0 0 0;
  width: 0px;
  height: 1px;
  background: #188a40;
  position: absolute;
  z-index: 9999;
  left: 0;
  transition: .2s linear;
}

/* line 105, ../scss/style.scss */
.navbar-default .navbar-nav > li > a.active:after {
  width: 100%;
}

/* line 109, ../scss/style.scss */
.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
  transition: .2s linear;
}

/* line 114, ../scss/style.scss */
#banner {
  width: 100%;
  height: 558px;
  color: white;
  text-align: right;
}
/* line 120, ../scss/style.scss */
#banner h1 {
  margin: 17px 0 0 0;
}
/* line 124, ../scss/style.scss */
#banner h2 {
  margin: 300px 15px 0 0;
}
/* line 128, ../scss/style.scss */
#banner .btn {
  width: auto;
  height: auto;
  padding: 21.5px;
  border-radius: 0;
  border: 0;
  font-weight: 500;
}
/* line 136, ../scss/style.scss */
#banner .btn-success {
  margin: 28px -30px 0 0;
  background: #188a40;
}
/* line 140, ../scss/style.scss */
#banner .btn-success svg {
  margin: 0 30px 0 0;
}
/* line 144, ../scss/style.scss */
#banner .btn-success span {
  position: relative;
  top: -8.5px;
}
/* line 149, ../scss/style.scss */
#banner .col-md-5 {
  margin-left: -15px;
}

/* line 154, ../scss/style.scss */
#banner.servicos {
  height: 351px;
}
/* line 157, ../scss/style.scss */
#banner.servicos a {
  margin: -38px -15px 0 0;
}
/* line 161, ../scss/style.scss */
#banner.servicos h1 {
  margin: 200px 0 5px 0;
  font-size: 2.429em;
  text-align: left;
}
/* line 167, ../scss/style.scss */
#banner.servicos h2 {
  margin: 0;
}

/* line 173, ../scss/style.scss */
#banner.servicos.pintura a {
  margin: -115px -15px 0 0;
}

/* line 179, ../scss/style.scss */
#banner.servicos.seguranca a {
  margin: -112px -30px 0 0;
}
/* line 183, ../scss/style.scss */
#banner.servicos.seguranca h1 {
  font-size: 2.529em;
  width: 428px;
  text-align: right;
}
/* line 189, ../scss/style.scss */
#banner.servicos.seguranca h2 {
  text-align: left;
}

/* line 194, ../scss/style.scss */
#banner.inicio {
  background: url(../img/bg-inicial.jpg) no-repeat center center;
}

/* line 198, ../scss/style.scss */
#banner.eletrica {
  background: url(../img/bg-eletrica.jpg) no-repeat center center;
}
/* line 201, ../scss/style.scss */
#banner.eletrica .col-md-4 {
  padding-right: 0;
}

/* line 206, ../scss/style.scss */
#banner.predial {
  background: url(../img/bg-manutencao.jpg) no-repeat center center;
}
/* line 207, ../scss/style.scss */
#banner.predial h1 {
  text-align: right;
}
/* line 210, ../scss/style.scss */
#banner.predial a {
  margin-right: -30px;
}
/* line 214, ../scss/style.scss */
#banner.predial h1, #banner.predial h2 {
  width: 379px;
}

/* line 221, ../scss/style.scss */
#banner.pintura {
  background: url(../img/bg-pintura.jpg) no-repeat center center;
}
/* line 222, ../scss/style.scss */
#banner.pintura h1 {
  width: 386px;
  text-align: right;
}

/* line 230, ../scss/style.scss */
#banner.seguranca {
  background: url(../img/bg-seguranca.jpg) no-repeat center center;
}

/* line 234, ../scss/style.scss */
#banner.atendimento {
  background: url(../img/bg-atendimento.jpg) no-repeat center center;
}
/* line 236, ../scss/style.scss */
#banner.atendimento h1 {
  width: 648px;
  margin: 0;
  text-align: right;
}
/* line 242, ../scss/style.scss */
#banner.atendimento h2 {
  width: 648px;
  margin: 155px 0 10px 0;
}

/* line 251, ../scss/style.scss */
#desc .container {
  height: 412px;
  background: url(../img/inicial.jpg) no-repeat center center;
}
/* line 255, ../scss/style.scss */
#desc .container.eletrica {
  background: url(../img/conteudo-eletrica.jpg) no-repeat center center;
}
/* line 257, ../scss/style.scss */
#desc .container.eletrica ul {
  background: #0f438e;
}
/* line 261, ../scss/style.scss */
#desc .container.predial {
  background: url(../img/conteudo-manutencao.jpg) no-repeat center center;
}
/* line 264, ../scss/style.scss */
#desc .container.predial .col-md-8 {
  padding: 0;
}
/* line 266, ../scss/style.scss */
#desc .container.predial h3 {
  font-size: 2.6em;
  margin: 34px 0 34px 45px;
}
/* line 271, ../scss/style.scss */
#desc .container.predial ul {
  padding: 46px;
  width: 640px;
  text-align: center;
  margin-left: 1px;
  background: #2d282d;
}
/* line 278, ../scss/style.scss */
#desc .container.predial ul li {
  font-size: 1.2em;
}
/* line 282, ../scss/style.scss */
#desc .container.predial ul li:nth-child(odd) {
  margin: 10.5px 0;
}
/* line 286, ../scss/style.scss */
#desc .container.predial ul li:first-child {
  margin-top: 0;
}
/* line 287, ../scss/style.scss */
#desc .container.predial ul li:last-child {
  margin-bottom: 0;
}
/* line 290, ../scss/style.scss */
#desc .container.seguranca {
  background: url(../img/conteudo-seguranca.jpg) no-repeat center center;
}
/* line 292, ../scss/style.scss */
#desc .container.seguranca ul {
  background: #7d2300;
  margin-left: 1px;
}
/* line 296, ../scss/style.scss */
#desc .container.seguranca ul li:first-child {
  font-weight: 500;
}
/* line 301, ../scss/style.scss */
#desc .container.pintura {
  background: url(../img/conteudo-pintura.jpg) no-repeat center center;
}
/* line 304, ../scss/style.scss */
#desc .container.pintura h3 {
  margin: 55px 0 24px 45px;
}
/* line 308, ../scss/style.scss */
#desc .container.pintura ul {
  background: #524781;
  min-height: 263px;
}
/* line 312, ../scss/style.scss */
#desc .container.pintura ul li:nth-child(odd) {
  margin: 11.7px 0;
}
/* line 315, ../scss/style.scss */
#desc .container.pintura ul li:first-child {
  font-weight: 500;
  margin-top: 0;
}
/* line 319, ../scss/style.scss */
#desc .container.pintura ul li:last-child {
  margin-bottom: 0;
}
/* line 325, ../scss/style.scss */
#desc h3 {
  font-weight: 700;
  font-size: 3.23em;
  margin: 37px 0 26px 45px;
}
/* line 331, ../scss/style.scss */
#desc ul {
  margin: 0;
  background: #f9e900;
  padding: 43px 60px;
  opacity: .9;
}
/* line 338, ../scss/style.scss */
#desc ul li {
  list-style: none;
  font-size: 1.309em;
  color: #383838;
}
/* line 344, ../scss/style.scss */
#desc li:nth-child(odd) {
  margin: 12px 0;
}
/* line 348, ../scss/style.scss */
#desc .col-md-6 {
  padding: 0;
}

/* line 353, ../scss/style.scss */
#desc.servicos h3 {
  font-size: 2.42em;
  margin: 45px 0 34px 45px;
}
/* line 358, ../scss/style.scss */
#desc.servicos ul {
  background: #114797;
}
/* line 362, ../scss/style.scss */
#desc.servicos ul li {
  color: white;
}

/* line 367, ../scss/style.scss */
#desc.servicos ul {
  background: #3b3539;
}
/* line 370, ../scss/style.scss */
#desc.servicos ul li {
  font-weight: 300;
  font-size: 1.309em;
}

/* line 378, ../scss/style.scss */
#corpo h5 {
  margin: 70px 0 0px 0;
}
/* line 382, ../scss/style.scss */
#corpo label.error, #corpo input.error, #corpo textarea.error {
  color: #ea6153;
  border-color: #ea6153;
}
/* line 386, ../scss/style.scss */
#corpo textarea.error::-webkit-input-placeholder {
  color: #ea6153;
}
/* line 387, ../scss/style.scss */
#corpo textarea.error:-moz-placeholder {
  color: #ea6153;
}
/* line 388, ../scss/style.scss */
#corpo textarea.error::-moz-placeholder {
  color: #ea6153;
}
/* line 389, ../scss/style.scss */
#corpo input.error::-webkit-input-placeholder {
  color: #ea6153;
}
/* line 390, ../scss/style.scss */
#corpo input.error:-moz-placeholder {
  color: #ea6153;
}
/* line 391, ../scss/style.scss */
#corpo input.error::-moz-placeholder {
  color: #ea6153;
}
/* line 395, ../scss/style.scss */
#corpo input,
#corpo select,
#corpo textarea {
  margin: 50px 0 0 0;
  border: 0;
  padding: 30px 0;
  color: #383838;
  border-bottom: 2px solid #383838;
  font-size: 1.05em;
  font-weight: 300;
  width: 100%;
  transition: padding .2s;
  text-transform: uppercase;
}
/* line 408, ../scss/style.scss */
#corpo select {
  height: 82px;
  padding: 0;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
/* line 418, ../scss/style.scss */
#corpo .select:before {
  content: " ";
  position: absolute;
  top: 63px;
  right: 15px;
  z-index: -1;
  width: 55px;
  height: 55px;
  background: #188a40 url(../img/arrow.svg) no-repeat center center;
  background-size: 12px 22px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  transition: background-position .2s;
}
/* line 436, ../scss/style.scss */
#corpo .select:hover:before {
  transition: background-position .2s;
  background-position: 15px center;
}
/* line 443, ../scss/style.scss */
#corpo input:focus,
#corpo select:focus,
#corpo textarea:focus {
  transition: padding .2s;
  padding: 30px;
  outline: transparent;
}
/* line 449, ../scss/style.scss */
#corpo input[type="submit"] {
  background: #188a40;
  padding: 20px 30px 20px 25px;
  color: white;
  font-weight: 500;
  text-align: left;
  border: 0;
  border-radius: 0;
}
/* line 459, ../scss/style.scss */
#corpo .submit:before {
  content: " ";
  position: absolute;
  top: 69px;
  right: 44px;
  z-index: 9999;
  width: 12px;
  height: 22px;
  background: url(../img/arrow.svg) no-repeat center center;
  background-size: 12px 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: right .2s;
}
/* line 477, ../scss/style.scss */
#corpo .submit:hover:before {
  transition: right .2s;
  right: 34px;
}
/* line 484, ../scss/style.scss */
#corpo input[name="nome"],
#corpo input[name="logradouro"],
#corpo input[name="email"] {
  margin: 0;
}
/* line 486, ../scss/style.scss */
#corpo ::-webkit-input-placeholder {
  font-size: 1.05em;
  color: #383838;
}
/* line 487, ../scss/style.scss */
#corpo :-moz-placeholder {
  font-size: 1.05em;
  color: #383838;
}
/* line 488, ../scss/style.scss */
#corpo ::-moz-placeholder {
  font-size: 1.05em;
  color: #383838;
}

/* line 491, ../scss/style.scss */
footer {
  margin: 50px 0 0 0;
  color: white;
}
/* line 494, ../scss/style.scss */
footer .topo {
  height: 99px;
  background: #27a653 url(../img/mapa.jpg) no-repeat left center;
  color: white;
}
/* line 499, ../scss/style.scss */
footer .topo .col-sm-12 {
  margin-top: 37px;
}
/* line 503, ../scss/style.scss */
footer .topo h4 {
  margin: 0 0 0 39px;
  font-size: 1.45em;
  font-weight: 500;
}
/* line 509, ../scss/style.scss */
footer .topo p {
  margin: -3px 0 0 0;
  font-size: 1.45em;
}
/* line 515, ../scss/style.scss */
footer .corpo {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  background: #188a40;
}
/* line 521, ../scss/style.scss */
footer .corpo p {
  font-size: 1.05em;
}
/* line 525, ../scss/style.scss */
footer .corpo span {
  font-weight: 500;
}
/* line 530, ../scss/style.scss */
footer .direitos {
  margin: 50px 0 40px 0;
  text-align: center;
  color: #383838;
  font-size: 0.714em;
}
/* line 535, ../scss/style.scss */
footer .direitos p {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  /* line 543, ../scss/style.scss */
  #desc .container.predial ul {
    width: 100%;
  }

  /* line 547, ../scss/style.scss */
  #banner.servicos.atendimento h1 {
    margin: 85px 0 0 0;
  }

  /* line 552, ../scss/style.scss */
  #banner.servicos.eletrica h1,
  #banner.servicos.predial h1 {
    margin: 140px 0 0 0;
  }

  /* line 558, ../scss/style.scss */
  #banner.servicos h1,
  #banner.servicos.seguranca h1,
  #banner.servicos.seguranca h2 {
    text-align: center;
  }

  /* line 562, ../scss/style.scss */
  #banner.servicos a, #banner.servicos.atendimento h2 {
    display: none;
  }

  /* line 566, ../scss/style.scss */
  #banner.servicos h1 {
    margin: 110px 0 0 0;
  }

  /* line 570, ../scss/style.scss */
  footer .topo {
    display: none;
  }

  /* line 578, ../scss/style.scss */
  #banner .btn-success {
    margin: 0 auto;
    display: block;
  }

  /* line 583, ../scss/style.scss */
  #banner .col-md-5 {
    margin: 0;
  }

  /* line 587, ../scss/style.scss */
  #banner h2 {
    margin: 145px 0 0 0;
  }

  /* line 591, ../scss/style.scss */
  #banner h1 {
    margin: 17px 0;
  }

  /* line 595, ../scss/style.scss */
  #banner h2, #banner h1 {
    width: 100% !important;
    text-align: center;
  }

  /* line 601, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  /* line 606, ../scss/style.scss */
  .navbar-default .navbar-nav > li:first-child {
    margin-top: 50px;
  }

  /* line 610, ../scss/style.scss */
  .navbar-default .navbar-nav > li:last-child {
    padding-bottom: 10px;
  }

  /* line 544, ../../../Mep-Services/assets/scss/style.scss */
  /* line 615, ../scss/style.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: white;
    margin: 0 auto 5px auto;
  }

  /* line 620, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a.active {
    color: white;
    text-decoration: line-through;
  }

  /* line 625, ../scss/style.scss */
  .navbar-default .navbar-nav > li > a:after, .navbar-default .navbar-nav > li > a.active:after {
    background: transparent;
  }

  /* line 549, ../../../Mep-Services/assets/scss/style.scss */
  /* line 630, ../scss/style.scss */
  .navbar-default {
    width: 100%;
    background: #188a40;
    left: inherit;
  }

  /* line 553, ../../../Mep-Services/assets/scss/style.scss */
  /* line 637, ../scss/style.scss */
  .navbar-toggle {
    position: absolute;
    z-index: 9999;
    border: 0;
    margin-left: -28px;
  }

  /* line 558, ../../../Mep-Services/assets/scss/style.scss */
  /* line 644, ../scss/style.scss */
  .navbar-toggle p {
    color: white;
  }

  /* line 563, ../../../Mep-Services/assets/scss/style.scss */
  /* line 649, ../scss/style.scss */
  .navbar {
    min-height: 0;
    margin: 0;
  }

  /* line 569, ../../../Mep-Services/assets/scss/style.scss */
  /* line 656, ../scss/style.scss */
  .navbar-header,
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
    text-align: center;
  }

  /* line 574, ../../../Mep-Services/assets/scss/style.scss */
  /* line 662, ../scss/style.scss */
  .navbar-brand {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  /* line 669, ../scss/style.scss */
  #banner.servicos h1 {
    margin: 90px 0 0 0;
  }
}
